* {
  box-sizing: border-box;
}

body {
  font-family:  'Times New Roman', Times, serif;
  max-width: 800px;
  height: auto;
  margin: 0 auto;
  border: 1px solid red;

}
/*
.container {
  padding: 5px 10px 5px 10px;
}
*/

p {
  font-size: 12px;
  letter-spacing: 1px;
}

.danger {
  color: red;
}

.container {
   padding: 5px 10px 5px 10px;
}

.title-contract {
  text-align: center;
}

.header {
  font-size: 14px;
  margin-top: 5px;
  font-weight: bold;
}

.subheader {
  font-size: 13px;
  font-style: italic;
  margin-top: 3px;
}

.content {
  margin-top: 20px;
  height: auto;
  padding-left: 90px;
  padding-right: 90px;
  width: 100%;
}

.content .underline {
  text-decoration: underline;
}

.sign {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}


.signA {
  margin-top: 80px;
  text-align: center;
}

@media print {
  div.print {
    display: none;
  }

}

div.print {
  position: fixed;
  left: 0;
  bottom: 0;
}

div.print button {
  background: #C83200;
  display: block;
  font-size: 200%;
  color: white;
  text-decoration: none;
  padding: 0.25em;
  padding-top: 0.5em;
  padding-right: 0.5em;
  border-top-right-radius: 0.5em;
  text-transform: uppercase;
}

div.print button:hover {
  background: #4682B4;
}

  